@mixin chipMixin($color)
  padding: 0 1rem;
  margin-right: 1rem;
  border: 2px solid $color;
  display: flex;
  align-items: center;

  @media (max-width: $smallDevicesSize) 
    padding: 2px;
    margin-right: 3px;
    min-width: fit-content;
    text-align: center;
    p 
      inline-size: max-content;
      font-size: 0.8rem;